body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19002 {
  position:absolute;
  left:38px;
  top:0px;
  width:149px;
  height:305px;
}
#u19002_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19003 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19004 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19004_img.selected {
}
#u19004.selected {
}
#u19005 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19006 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19007 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19003_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19008 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19009 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19010 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19011 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19012 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19013 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19014 {
  position:absolute;
  left:20px;
  top:60px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19015 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19016 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19017 {
  position:absolute;
  left:0px;
  top:80px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19018 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19019 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19020 {
  position:absolute;
  left:0px;
  top:100px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19021 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19021_img.selected {
}
#u19021.selected {
}
#u19022 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19023 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19024 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19020_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19025 {
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19026 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u19027 {
  position:absolute;
  left:3px;
  top:-1px;
  width:97px;
  white-space:nowrap;
}
#u19028 {
  position:absolute;
  left:20px;
  top:40px;
  width:124px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19029 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u19030 {
  position:absolute;
  left:3px;
  top:-1px;
  width:97px;
  white-space:nowrap;
}
#u19031 {
  position:absolute;
  left:0px;
  top:160px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19032 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19032_img.selected {
}
#u19032.selected {
}
#u19033 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19034 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19035 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19031_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19036 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19037 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19038 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19039 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19040 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19041 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19042 {
  position:absolute;
  left:0px;
  top:220px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19043 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19043_img.selected {
}
#u19043.selected {
}
#u19044 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19045 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19046 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19042_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19047 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19048 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19049 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19050 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19051 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19052 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19053 {
  position:absolute;
  left:0px;
  top:280px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19054 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19055 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19056 {
  position:absolute;
  left:38px;
  top:300px;
  width:181px;
  height:185px;
}
#u19056_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19057 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19058 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19058_img.selected {
}
#u19058.selected {
}
#u19059 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19060 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19061 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19057_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19062 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19063 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19064 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19065 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19066 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19067 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19068 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19069 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19069_img.selected {
}
#u19069.selected {
}
#u19070 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19071 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19072 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19068_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19073 {
  position:absolute;
  left:20px;
  top:20px;
  width:156px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19074 {
  position:absolute;
  left:22px;
  top:0px;
  width:134px;
  height:20px;
}
#u19075 {
  position:absolute;
  left:3px;
  top:-1px;
  width:129px;
  white-space:nowrap;
}
#u19076 {
  position:absolute;
  left:20px;
  top:40px;
  width:124px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19077 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u19078 {
  position:absolute;
  left:3px;
  top:-1px;
  width:97px;
  white-space:nowrap;
}
#u19079 {
  position:absolute;
  left:0px;
  top:120px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19080 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19081 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19082 {
  position:absolute;
  left:0px;
  top:140px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19083 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19084 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19085 {
  position:absolute;
  left:0px;
  top:160px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19086 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19087 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19088 {
  position:absolute;
  left:38px;
  top:480px;
  width:197px;
  height:345px;
}
#u19088_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19089 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19090 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19090_img.selected {
}
#u19090.selected {
}
#u19091 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19092 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19093 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19089_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19094 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19095 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19096 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19097 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19098 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19099 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19100 {
  position:absolute;
  left:20px;
  top:60px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19101 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19102 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19103 {
  position:absolute;
  left:20px;
  top:80px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19104 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19105 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19106 {
  position:absolute;
  left:20px;
  top:100px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19107 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u19108 {
  position:absolute;
  left:3px;
  top:-1px;
  width:81px;
  white-space:nowrap;
}
#u19109 {
  position:absolute;
  left:20px;
  top:120px;
  width:140px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19110 {
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u19111 {
  position:absolute;
  left:3px;
  top:-1px;
  width:113px;
  white-space:nowrap;
}
#u19112 {
  position:absolute;
  left:0px;
  top:140px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19113 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19113_img.selected {
}
#u19113.selected {
}
#u19114 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19115 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19116 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19112_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19117 {
  position:absolute;
  left:20px;
  top:20px;
  width:172px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19118 {
  position:absolute;
  left:22px;
  top:0px;
  width:150px;
  height:20px;
}
#u19119 {
  position:absolute;
  left:3px;
  top:-1px;
  width:145px;
  white-space:nowrap;
}
#u19120 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19121 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19122 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19123 {
  position:absolute;
  left:0px;
  top:200px;
  width:140px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19124 {
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u19125 {
  position:absolute;
  left:3px;
  top:-1px;
  width:113px;
  white-space:nowrap;
}
#u19126 {
  position:absolute;
  left:0px;
  top:220px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u19127 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u19127_img.selected {
}
#u19127.selected {
}
#u19128 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19129 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19130 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19126_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19131 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19132 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19133 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19134 {
  position:absolute;
  left:20px;
  top:40px;
  width:124px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19135 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u19136 {
  position:absolute;
  left:3px;
  top:-1px;
  width:97px;
  white-space:nowrap;
}
#u19137 {
  position:absolute;
  left:20px;
  top:60px;
  width:156px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19138 {
  position:absolute;
  left:22px;
  top:0px;
  width:134px;
  height:20px;
}
#u19139 {
  position:absolute;
  left:3px;
  top:-1px;
  width:129px;
  white-space:nowrap;
}
#u19140 {
  position:absolute;
  left:20px;
  top:80px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19141 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19142 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u19143 {
  position:absolute;
  left:20px;
  top:100px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19144 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u19145 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
